<div class="row">
    <div class="col-lg-12">
      <h3><strong>CUSTOMER REPORTS</strong></h3>
    </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
          <strong>Customer ID:</strong> {{customerData.id}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>Potential Loan Customer:</strong>
        </div>
      </div>
    <div class="row">
      <div class="col-md-4">
          <strong>Balance As of Now:</strong> ${{customerData.amount}}
      </div>
    </div>
  </div>
</div>