<div class="row">
    <div class="col-lg-6">
      <div class="bs-component">
          <ul class="list-group">
              <li class="list-group-item" *ngFor="let elem of transactions">
      
                <div class="row">
                    <div class="col-md-6">
                        {{elem.transaction}}
                    </div>
                    <div class="col-md-4">
                        {{elem.date}}
                    </div>
                    <div class="col-md-2 pull-right">
                        <span class="badge">{{elem.amount}}</span>
                    </div>
                </div>

              </li>

            </ul>
      </div>
    </div>
</div>